body {
    background-color: white;
}

h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    padding: 70px 0;
    text-align: center;
}