{% load landing_tags %} {% get_url as url %}
<html>

<head>
    <title>Gear Autoselector (beta)</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<div class="center">
    <h1>Gear Autoselector (beta)</h1>
    <p>Tired of having to manually change your bike after every ride? Don't you wish that Strava could read your mind? </p>
    <p>Gear Autoselector works by analyzing your selected bike on previous rides to determine what bike should be selected on new rides.</p>
    <a href="http://www.strava.com/oauth/authorize?client_id=78149&response_type=code&redirect_uri={{url}}/exchange_token&approval_prompt=force&scope=read,activity:write,activity:read_all,profile:write,profile:read_all,read_all">
        <img src="static/img/btn_strava_connectwith_orange.png">
    </a>
</div>

</html>